.App {
  text-align: center;
  max-width: 960px;
  margin: auto;
  padding: 20px;
}

.App-logo {
  height: 40vmin;
}

/* .card {
  background: #ff7769;
  border-radius: 8px;
  border: 1px solid #ff7769;
  box-shadow: 0 2px 12px rgba(44, 62, 80, 0.06);
  padding: 1.4em;
  margin: 1.2em 0;
  transition: box-shadow 0.18s;
}
.card:hover {
  box-shadow: 0 4px 18px rgba(39, 70, 133, 0.1);
} */



nav {
  width: 100%;
  box-sizing: border-box;
}

.form-error{
  color: red;
  margin-bottom: 1rem;
}

form fieldset {
  display: flex;
  flex-direction: column;
  gap: 12px; 
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form label {
  font-weight: bold;
}

.styled-table {
  border-collapse: collapse;
  width: max-content;
  min-width: 100%
}
.table-wrapper {
  overflow-x: auto;
}

.styled-table th{
  background-color: #a81616;
  color: rgb(255, 255, 255);
  padding: 0.75rem;
  text-align: left;
}
.styled-table td {
  border-bottom: 1px solid #22223b;
  padding: 0.75rem;
  text-align: left;
}
.delete-btn {
  background-color: red;
  color:white;
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
}

.delete-btn:hover {
  background-color: #a3292b;
}
.App-header { 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #22223b; 
}

.App-link {
  color: #61dafb;
}

